// Buttons
//
// solid && hollow buttons.

$btn-m-height: 2.125rem !default;
$btn-m-padding-x: 0.9375rem !default;

$btn-l-width: 60% !default;
$btn-l-height: 2.75rem !default;

$btn-border-radius: 0.25rem !default;
