// card
//
// card space.

$card-spacer-x: 1.25rem !default;
$card-spacer-y: .9375rem !default;
$card-border-width: 1px !default;
$card-border-radius: .25rem !default;
$card-bg: #FFFFFF !default;

$card-row-spacer-l: .9375rem !default;
$card-row-spacer-m: .625rem !default;
$card-row-spacer-s: .3125rem !default;