// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark: #393C40 !default;
$gray: #55595c !default;
$gray-light: #757980 !default;
$gray-lighter: #B4B8BF !default;
$gray-lightest: #F0F1F2 !default;
$gray-bright: #F7F8FA !default;

$brand-primary: #4A90E2 !default;
$brand-success: #6EC3B4 !default;
$brand-info: #69AFEF !default;
$brand-warning: #FACB5B !default;
$brand-danger: #E95260 !default;
