// imgholder
//
// img holder for avatar and other default img place

$imgholder-square-xl-width: 23.4375rem !default;
$imgholder-square-xl-height: 10.25rem !default;
$imgholder-square-l-width: 8.75rem !default;
$imgholder-square-l-height: 5rem !default;
$imgholder-square-m-width: 5.625rem !default;
$imgholder-square-m-height: 3.75rem !default;
$imgholder-square-s-width: 4.375rem !default;
$imgholder-square-s-height: 4.375rem !default;

$imgholder-round-l-width: 3.75rem !default;
$imgholder-round-l-height: 3.75rem !default;
$imgholder-round-m-width: 3.125rem !default;
$imgholder-round-m-height: 3.125rem !default;
$imgholder-round-s-width: 2.5rem !default;
$imgholder-round-s-height: 2.5rem !default;
$imgholder-round-radius: 50% !default;
