.msbu-label{
  display:block;
  width: 100px;
  .text_wrap();
}
.msbu-input {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    height: 30px;
    line-height: 30px;

    // hides the spin-button
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}
.msbu-textarea {
    display: block;
    border: 0;
    resize: none;
    width: 100%;
    color: inherit;
    font-size: 1em;
    line-height: inherit;
    outline: 0;
}

.msbu-textarea-counter{
    color: #4A90E2;
    text-align: right;
    .msbu-cell_warn &{
        color: #FACB5B;
    }
}

.msbu-toptips {
    display:none;
    position: fixed;
    transform: translateZ(0);
    top: 0;
    left: 0;
    right: 0;
    padding:5px;
    font-size:14px;
    text-align: center;
    color: #FFF;
    z-index: 5000;
    .text_wrap();
}
.msbu-toptips_warn {
    background-color: #FACB5B;
}
.msbu-cells_form {
    .msbu-cell__ft{
        font-size:0;
    }
    .msbu-icon-warn{
        display:none;
    }
    input, textarea, label[for]{
        .setTapColor();
    }
}
.msbu-cell_warn{
    color: #FACB5B;
    .msbu-icon-warn{display:inline-block;}
}
