.msbu-uploader__hd{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
}
.msbu-uploader__title{
    flex: 1;
}
.msbu-uploader__info{
    color: #999;
}

.msbu-uploader__bd{
    margin-bottom: 80px;
    margin-right: -10px;
    overflow: hidden;
}
.msbu-uploader__files{
    list-style: none;
}
.msbu-uploader__file{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    background: no-repeat center center;
    background-size: cover;
}
.msbu-uploader__file_status{
    position: relative;
    &:before{
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
    }
    .msbu-uploader__file-content{
        display: block;
    }
}
.msbu-uploader__file-content{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    .msbu-icon-warn{
        display: inline-block;
    }
}
.msbu-uploader__input-box{
    float:left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid #999;
    &:before, &:after{
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #999;
    }
    &:before{
        width: 1px;
        height: 80px / 2;
    }
    &:after{
        width: 80px / 2;
        height: 1px;
    }
    &:active{
        border-color: @msbuUploaderActiveBorderColor;
        &:before, &:after{
            background-color: @msbuUploaderActiveBorderColor;
        }
    }
}
.msbu-uploader__input{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    .setTapColor();
}