// lesshint spaceBeforeBrace: false, singleLinePerProperty: false
.iconfont-mixin() {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;

  &:before {
    display: block;
    font-family: "anticon" !important;
  }
}

// font-face
// @icon-url： 字体源文件的地址
@font-face {
  font-family: 'anticon';
  src: url('@{icon-url}.eot'); /* IE9*/
  src: url('@{icon-url}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('@{icon-url}.woff') format('woff'), /* chrome、firefox */
  url('@{icon-url}.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('@{icon-url}.svg#iconfont') format('svg'); /* iOS 4.1- */
}

// ICONFONT
@iconfont-css-prefix    : anticon;
@icon-url               : "./assets/iconfont";

.@{iconfont-css-prefix} {
 .iconfont-mixin();
}

.@{iconfont-css-prefix}-stepforward:before { content: "\ee31"; }

.@{iconfont-css-prefix}-stepbackward:before { content: "\ee32"; }

.@{iconfont-css-prefix}-forward:before { content: "\ee33"; }

.@{iconfont-css-prefix}-banckward:before { content: "\ee34"; }

.@{iconfont-css-prefix}-caretright:before { content: "\ee35"; }

.@{iconfont-css-prefix}-caretleft:before { content: "\ee36"; }

.@{iconfont-css-prefix}-caretdown:before { content: "\ee37"; }

.@{iconfont-css-prefix}-caretup:before { content: "\ee38"; }

.@{iconfont-css-prefix}-rightcircle:before { content: "\ee39"; }

.@{iconfont-css-prefix}-leftcircle:before { content: "\ee3a"; }

.@{iconfont-css-prefix}-upcircle:before { content: "\ee3b"; }

.@{iconfont-css-prefix}-downcircle:before { content: "\ee3c"; }

.@{iconfont-css-prefix}-rightcircleo:before { content: "\ee3d"; }

.@{iconfont-css-prefix}-leftcircleo:before { content: "\ee3e"; }

.@{iconfont-css-prefix}-upcircleo:before { content: "\ee3f"; }

.@{iconfont-css-prefix}-downcircleo:before { content: "\ee40"; }

.@{iconfont-css-prefix}-verticleleft:before { content: "\ee41"; }

.@{iconfont-css-prefix}-verticleright:before { content: "\ee42"; }

.@{iconfont-css-prefix}-rollback:before { content: "\ee43"; }

.@{iconfont-css-prefix}-retweet:before { content: "\ee44"; }

.@{iconfont-css-prefix}-shrink:before { content: "\ee45"; }

.@{iconfont-css-prefix}-arrowsalt:before { content: "\ee46"; }

.@{iconfont-css-prefix}-reload:before { content: "\ee47"; }

.@{iconfont-css-prefix}-doubleright:before { content: "\ee48"; }

.@{iconfont-css-prefix}-doubleleft:before { content: "\ee49"; }

.@{iconfont-css-prefix}-arrowdown:before { content: "\ee4a"; }

.@{iconfont-css-prefix}-arrowup:before { content: "\ee4b"; }

.@{iconfont-css-prefix}-arrowright:before { content: "\ee4c"; }

.@{iconfont-css-prefix}-arrowleft:before { content: "\ee4d"; }

.@{iconfont-css-prefix}-down:before { content: "\ee4e"; }

.@{iconfont-css-prefix}-up:before { content: "\ee4f"; }

.@{iconfont-css-prefix}-right:before { content: "\ee50"; }

.@{iconfont-css-prefix}-left:before { content: "\ee51"; }

.@{iconfont-css-prefix}-minussquareo:before { content: "\ee52"; }

.@{iconfont-css-prefix}-minuscircle:before { content: "\ee53"; }

.@{iconfont-css-prefix}-minuscircleo:before { content: "\ee54"; }

.@{iconfont-css-prefix}-minus:before { content: "\ee55"; }

.@{iconfont-css-prefix}-pluscircleo:before { content: "\ee56"; }

.@{iconfont-css-prefix}-pluscircle:before { content: "\ee57"; }

.@{iconfont-css-prefix}-plus:before { content: "\ee58"; }

.@{iconfont-css-prefix}-infocirlce:before { content: "\ee59"; }

.@{iconfont-css-prefix}-infocirlceo:before { content: "\ee5a"; }

.@{iconfont-css-prefix}-info:before { content: "\ee5b"; }

.@{iconfont-css-prefix}-exclamation:before { content: "\ee5c"; }

.@{iconfont-css-prefix}-exclamationcircle:before { content: "\ee5d"; }

.@{iconfont-css-prefix}-exclamationcircleo:before { content: "\ee5e"; }

.@{iconfont-css-prefix}-closecircle:before { content: "\ee5f"; }

.@{iconfont-css-prefix}-closecircleo:before { content: "\ee60"; }

.@{iconfont-css-prefix}-checkcircle:before { content: "\ee61"; }

.@{iconfont-css-prefix}-checkcircleo:before { content: "\ee62"; }

.@{iconfont-css-prefix}-check:before { content: "\ee63"; }

.@{iconfont-css-prefix}-close:before { content: "\ee64"; }

.@{iconfont-css-prefix}-customerservice:before { content: "\ee65"; }

.@{iconfont-css-prefix}-creditcard:before { content: "\ee66"; }

.@{iconfont-css-prefix}-codesquareo:before { content: "\ee67"; }

.@{iconfont-css-prefix}-book:before { content: "\ee68"; }

.@{iconfont-css-prefix}-barschart:before { content: "\ee69"; }

.@{iconfont-css-prefix}-bars:before { content: "\ee6a"; }

.@{iconfont-css-prefix}-question:before { content: "\ee6b"; }

.@{iconfont-css-prefix}-questioncircle:before { content: "\ee6c"; }

.@{iconfont-css-prefix}-questioncircleo:before { content: "\ee6d"; }

.@{iconfont-css-prefix}-pause:before { content: "\ee6e"; }

.@{iconfont-css-prefix}-pausecircle:before { content: "\ee6f"; }

.@{iconfont-css-prefix}-pausecircleo:before { content: "\ee70"; }

.@{iconfont-css-prefix}-clockcircle:before { content: "\ee71"; }

.@{iconfont-css-prefix}-clockcircleo:before { content: "\ee72"; }

.@{iconfont-css-prefix}-swap:before { content: "\ee73"; }

.@{iconfont-css-prefix}-swapleft:before { content: "\ee74"; }

.@{iconfont-css-prefix}-swapright:before { content: "\ee75"; }

.@{iconfont-css-prefix}-plussquareo:before { content: "\ee76"; }

.@{iconfont-css-prefix}-frown:before { content: "\ee77"; }

.@{iconfont-css-prefix}-ellipsis:before { content: "\ee78"; }

.@{iconfont-css-prefix}-copy:before { content: "\ee79"; }

.@{iconfont-css-prefix}-customerservice1:before { content: "\ee7a"; }

.@{iconfont-css-prefix}-creditcard1:before { content: "\ee7b"; }

.@{iconfont-css-prefix}-codesquareo1:before { content: "\ee7c"; }

.@{iconfont-css-prefix}-book1:before { content: "\ee7d"; }

.@{iconfont-css-prefix}-barschart1:before { content: "\ee7e"; }

.@{iconfont-css-prefix}-question1:before { content: "\ee80"; }

.@{iconfont-css-prefix}-questioncircle1:before { content: "\ee81"; }

.@{iconfont-css-prefix}-questioncircleo1:before { content: "\ee82"; }

.@{iconfont-css-prefix}-pause1:before { content: "\ee83"; }

.@{iconfont-css-prefix}-pausecircle1:before { content: "\ee84"; }

.@{iconfont-css-prefix}-pausecircleo1:before { content: "\ee85"; }

.@{iconfont-css-prefix}-clockcircle1:before { content: "\ee86"; }

.@{iconfont-css-prefix}-clockcircleo1:before { content: "\ee87"; }

.@{iconfont-css-prefix}-swap1:before { content: "\ee88"; }

.@{iconfont-css-prefix}-menufold:before { content: "\ee89"; }

.@{iconfont-css-prefix}-mail:before { content: "\ee8a"; }

.@{iconfont-css-prefix}-logout:before { content: "\ee8b"; }

.@{iconfont-css-prefix}-link:before { content: "\ee8c"; }

.@{iconfont-css-prefix}-areachart:before { content: "\ee8d"; }

.@{iconfont-css-prefix}-linechart:before { content: "\ee8e"; }

.@{iconfont-css-prefix}-home:before { content: "\ee8f"; }

.@{iconfont-css-prefix}-laptop:before { content: "\ee90"; }

.@{iconfont-css-prefix}-star:before { content: "\ee91"; }

.@{iconfont-css-prefix}-staro:before { content: "\ee92"; }

.@{iconfont-css-prefix}-folder:before { content: "\ee95"; }

.@{iconfont-css-prefix}-filter:before { content: "\ee96"; }

.@{iconfont-css-prefix}-file:before { content: "\ee97"; }

.@{iconfont-css-prefix}-exception:before { content: "\ee98"; }

.@{iconfont-css-prefix}-meho:before { content: "\ee99"; }

.@{iconfont-css-prefix}-meh:before { content: "\ee9a"; }

.@{iconfont-css-prefix}-shoppingcart:before { content: "\ee9b"; }

.@{iconfont-css-prefix}-save:before { content: "\ee9c"; }

.@{iconfont-css-prefix}-user:before { content: "\ee9d"; }

.@{iconfont-css-prefix}-videocamera:before { content: "\ee9e"; }

.@{iconfont-css-prefix}-totop:before { content: "\ee9f"; }

.@{iconfont-css-prefix}-team:before { content: "\eea0"; }

.@{iconfont-css-prefix}-tablet:before { content: "\eea1"; }

.@{iconfont-css-prefix}-solution:before { content: "\eea2"; }

.@{iconfont-css-prefix}-search:before { content: "\eea3"; }

.@{iconfont-css-prefix}-sharealt:before { content: "\eea4"; }

.@{iconfont-css-prefix}-setting:before { content: "\eea5"; }

.@{iconfont-css-prefix}-poweroff:before { content: "\eea6"; }

.@{iconfont-css-prefix}-picture:before { content: "\eea7"; }

.@{iconfont-css-prefix}-phone:before { content: "\eea8"; }

.@{iconfont-css-prefix}-paperclip:before { content: "\eea9"; }

.@{iconfont-css-prefix}-notification:before { content: "\eeaa"; }

.@{iconfont-css-prefix}-mobile:before { content: "\eeab"; }

.@{iconfont-css-prefix}-menuunfold:before { content: "\eeac"; }

.@{iconfont-css-prefix}-inbox:before { content: "\eead"; }

.@{iconfont-css-prefix}-qrcode:before { content: "\eeaf"; }

.@{iconfont-css-prefix}-tags:before { content: "\eeb1"; }

.@{iconfont-css-prefix}-tagso:before { content: "\eeb2"; }

.@{iconfont-css-prefix}-cloudo:before { content: "\eeb3"; }

.@{iconfont-css-prefix}-cloud:before { content: "\eeb4"; }

.@{iconfont-css-prefix}-cloudupload:before { content: "\eeb5"; }

.@{iconfont-css-prefix}-clouddownload:before { content: "\eeb6"; }

.@{iconfont-css-prefix}-clouddownloado:before { content: "\eeb7"; }

.@{iconfont-css-prefix}-clouduploado:before { content: "\eeb8"; }

.@{iconfont-css-prefix}-enviroment:before { content: "\eeb9"; }

.@{iconfont-css-prefix}-enviromento:before { content: "\eeba"; }

.@{iconfont-css-prefix}-eye:before { content: "\eebb"; }

.@{iconfont-css-prefix}-eyeo:before { content: "\eebc"; }

.@{iconfont-css-prefix}-camera:before { content: "\eebd"; }

.@{iconfont-css-prefix}-camerao:before { content: "\eebe"; }

.@{iconfont-css-prefix}-windows:before { content: "\eebf"; }

.@{iconfont-css-prefix}-apple:before { content: "\eec0"; }

.@{iconfont-css-prefix}-android:before { content: "\eec1"; }

.@{iconfont-css-prefix}-aliwangwang:before { content: "\eec2"; }

.@{iconfont-css-prefix}-aliwangwango:before { content: "\eec3"; }

.@{iconfont-css-prefix}-export2:before { content: "\eec4"; }

.@{iconfont-css-prefix}-export:before { content: "\eec5"; }

.@{iconfont-css-prefix}-edit:before { content: "\eec6"; }

.@{iconfont-css-prefix}-circledowno:before { content: "\eec7"; }

.@{iconfont-css-prefix}-circledown:before { content: "\eec8"; }

.@{iconfont-css-prefix}-appstoreo:before { content: "\eec9"; }

.@{iconfont-css-prefix}-appstore:before { content: "\eeca"; }

.@{iconfont-css-prefix}-scan:before { content: "\eecc"; }

.@{iconfont-css-prefix}-filetext:before { content: "\eecd"; }

.@{iconfont-css-prefix}-folderopen:before { content: "\eece"; }

.@{iconfont-css-prefix}-hdd:before { content: "\eecf"; }

.@{iconfont-css-prefix}-ie:before { content: "\eed0"; }

.@{iconfont-css-prefix}-jpgfile:before { content: "\eed1"; }

.@{iconfont-css-prefix}-like:before { content: "\eed2"; }

.@{iconfont-css-prefix}-dislike:before { content: "\eed3"; }

.@{iconfont-css-prefix}-delete:before { content: "\eed4"; }

.@{iconfont-css-prefix}-enter:before { content: "\eed5"; }

.@{iconfont-css-prefix}-pushpino:before { content: "\eed6"; }

.@{iconfont-css-prefix}-pushpin:before { content: "\eed7"; }

.@{iconfont-css-prefix}-heart:before { content: "\eed8"; }

.@{iconfont-css-prefix}-hearto:before { content: "\eed9"; }

.@{iconfont-css-prefix}-smile:before { content: "\eedc"; }

.@{iconfont-css-prefix}-smileo:before { content: "\eedd"; }

.@{iconfont-css-prefix}-frowno:before { content: "\eede"; }

.@{iconfont-css-prefix}-calculator:before { content: "\eedf"; }

.@{iconfont-css-prefix}-message:before { content: "\eee0"; }

.@{iconfont-css-prefix}-chrome:before { content: "\eee1"; }

.@{iconfont-css-prefix}-github:before { content: "\eee2"; }

.@{iconfont-css-prefix}-loading:before {
  display: inline-block;
  animation: loadingCircle 1s infinite linear;
  content: "\eee3";
}

.@{iconfont-css-prefix}-unknowfile:before { content: "\eee4"; }

.@{iconfont-css-prefix}-exclefile:before { content: "\eee5"; }

.@{iconfont-css-prefix}-pptfile:before { content: "\eee6"; }

.@{iconfont-css-prefix}-wordfile:before { content: "\eee7"; }

.@{iconfont-css-prefix}-pdffile:before { content: "\eee8"; }

.@{iconfont-css-prefix}-iconfontdesktop:before { content: "\eeea"; }

.@{iconfont-css-prefix}-upload:before { content: "\eeec"; }

.@{iconfont-css-prefix}-download:before { content: "\eeed"; }

.@{iconfont-css-prefix}-piechart:before { content: "\eeee"; }

.@{iconfont-css-prefix}-lock:before { content: "\eeef"; }

.@{iconfont-css-prefix}-unlock:before { content: "\eef0"; }

.@{iconfont-css-prefix}-calendar:before { content: "\eef1"; }

.@{iconfont-css-prefix}-windowso:before { content: "\eef2"; }

.@{iconfont-css-prefix}-dotchart:before { content: "\eef3"; }

.@{iconfont-css-prefix}-barchart:before { content: "\eef4"; }

.@{iconfont-css-prefix}-codesquare:before { content: "\eef5"; }

.@{iconfont-css-prefix}-plussquare:before { content: "\eef6"; }

.@{iconfont-css-prefix}-minussquare:before { content: "\eef7"; }

.@{iconfont-css-prefix}-closesquare:before { content: "\eef8"; }

.@{iconfont-css-prefix}-closesquareo:before { content: "\eef9"; }

.@{iconfont-css-prefix}-checksquare:before { content: "\eefa"; }

.@{iconfont-css-prefix}-checksquareo:before { content: "\eefb"; }

.@{iconfont-css-prefix}-fastbackward:before { content: "\eefc"; }

.@{iconfont-css-prefix}-fastforward:before { content: "\eefd"; }

.@{iconfont-css-prefix}-upsquare:before { content: "\eefe"; }

.@{iconfont-css-prefix}-downsquare:before { content: "\eeff"; }

.@{iconfont-css-prefix}-leftsquare:before { content: "\ef00"; }

.@{iconfont-css-prefix}-rightsquare:before { content: "\ef01"; }

.@{iconfont-css-prefix}-rightsquareo:before { content: "\ef02"; }

.@{iconfont-css-prefix}-leftsquareo:before { content: "\ef03"; }

.@{iconfont-css-prefix}-downsquareo:before { content: "\ef04"; }

.@{iconfont-css-prefix}-upsquareo:before { content: "\ef05"; }

.@{iconfont-css-prefix}-play:before { content: "\ef06"; }

.@{iconfont-css-prefix}-playcircleo:before { content: "\ef07"; }

.@{iconfont-css-prefix}-tag:before { content: "\ef08"; }

.@{iconfont-css-prefix}-tago:before { content: "\ef09"; }

.@{iconfont-css-prefix}-appleo:before { content: "\ef0a"; }

.@{iconfont-css-prefix}-caidan:before { content: "\e6c0"; }

.@{iconfont-css-prefix}-paycircle:before { content: "\ef0f"; }

.@{iconfont-css-prefix}-paycircleo:before { content: "\ef10"; }

@-webkit-keyframes loadingCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
